@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

/* Variables Root */
:root {
  /* Tamaño del Header */
  --header-altura: 3rem;

  /* Se basarán los colores del proyecto en sí con HSL, definiendo el color naranja como el principal */
  --color-primario: hsl(36, 100%, 50%);
  --color-primario-claro: hsl(36, 100%, 80%);
  --color-secundario: hsl(36, 0%, 0%);
  --color-barra: hsl(261, 53%, 56%);
  --color-titulo: hsl(36, 100%, 100%);
  --color-texto: hsl(36, 10%, 90%);
  --color-input: hsl(36, 70%, 96%);
  --color-cuerpo: hsl(36, 1%, 15%);
  --color-container: hsl(36, 100%, 50%);

  /* Fuente del Cuerpo */
  --fuente-cuerpo: "Roboto Condensed", sans-serif;

  /* Tamaño de la Fuente */
  --fuente-size-grande: 2rem;
  --fuente-size-h1: 1.5rem;
  --fuente-size-h2: 1.25rem;
  --fuente-size-h3: 1.15rem;
  --fuente-size-normal: 0.9rem;
  --fuente-size-pequeño: 0.8rem;
  --fuente-size-extrapequeño: 0.75rem;

  /* Peso de la fuente  */
  --fuente-peso-medio: 400;
  --fuente-peso-bold: 700;

  /* Margenes  */
  --m-0-25: 0.25rem;
  --m-0-5: 0.5rem;
  --m-0-75: 0.75rem;
  --m-1: 1rem;
  --m-1-5: 1.5rem;
  --m-2: 2rem;
  --m-2-5: 2.5rem;
  --m-3: 3rem;

  /* Z-tool tamaño  */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Font para PCS */
@media screen and (min-width: 768px) {
  :root {
    --fuente-size-grande: 2.2rem;
    --fuente-size-h1: 1.75rem;
    --fuente-size-h2: 1.5rem;
    --fuente-size-h3: 1.25rem;
    --fuente-size-normal: 1.2rem;
    --fuente-size-pequeño: 0.9rem;
    --fuente-size-extrapequeño: 0.875rem;
  }
}

/* Base */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  /* Margin de la pagina */
  margin: 0 0 var(--header-altura) 0;

  /* Fuente */
  font-family: var(--fuente-cuerpo);

  /* Tamaño de la fuente del documento entero */
  font-size: var(--fuente-size-normal);

  /* Color del body */
  background-color: var(--color-cuerpo);

  /* Color de la fuente */
  color: var(--color-texto);
}

h1,
h2,
h3,
h4 {
  color: var(--color-titulo);
  font-weight: var(--fuente-peso-bold);
}

/* Restablecimiento de estilos */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-texto);
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 2rem 0 4rem;
}

/* Clases reutilizables */
.seccion-hr {
  border: 1px solid;
  margin-left: 20px;
  margin-right: 20px;
}

.seccion-titulo {
  font-size: var(--fuente-size-h1);
}

.seccion-subtitulo {
  display: block;
  font-size: var(--fuente-size-pequenio);
  margin-bottom: var(--m-1-5);
}

.seccion-texto {
  font-size: var(--fuente-size-normal);
}

.seccion-titulo,
.seccion-subtitulo {
  text-align: center;
}

.btn {
  display: inline-block;
  background-color: var(--color-primario);
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: var(--fuente-peso-medio);
}

.btn-flex {
  display: flex;
  width: fit-content;
  margin-left: 20px;
  margin-right: 20px;
}

/* Layouts de la pagina */

.container {
  max-width: 768px;
  margin-left: var(--m-1-5);
  margin-right: var(--m-1-5);
}

.grid {
  display: grid;
  gap: 1rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--color-cuerpo);
}

/* Nav bar */
.nav {
  max-width: 968px;
  height: var(--header-altura);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo,
.nav-toggle {
  color: var(--color-titulo);
  font-size: var(--fuente-size-h1);
  font-weight: var(--fuente-peso-bold);
}
.nav-logo:hover {
  color: var(--color-primario);
}
.nav-toggle {
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--color-primario);
}

/* Media query para el navbar */
@media screen and (max-width: 767px) {
  .nav-menu {
    position: fixed;
    bottom: -100%;
    left: 1%;
    width: 98%;
    background-color: var(--color-cuerpo);
    padding: 2rem 1.5rem 2rem 1.5rem;
    box-shadow: 0 -1px 4px var(--color-primario);
    border-radius: 1.5rem 1.5rem 0;
    transition: 0.3s;
    margin-bottom: 0.6rem;
  }
  .header {
    border-top: thin solid var(--color-primario);
  }
}

.nav-btns {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.nav-btns .nav-icon:first-of-type {
  font-size: 1.5rem;
}

/* Css para mostrar el menu */
.mostrar-menu {
  bottom: 0;
}

/* Lista del menu de botones */
.nav-list {
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
  grid-auto-rows: 32px;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--fuente-size-normal);
  color: var(--color-titulo);
  font-weight: var(--fuente-peso-medio);
}
.nav-link:hover {
  color: var(--color-primario);
}

.nav-item {
  grid-column: auto / span 3;
}

.nav-item:nth-child(1),
.nav-item:nth-child(2),
.nav-item:nth-child(3) {
  grid-column: auto / span 2;
}

.nav-close {
  position: absolute;
  right: 1.45rem;
  bottom: 1rem;
  cursor: pointer;
  color: red;
}

/* inicio Page! */
.inicio {
  padding-top: 1rem;
}

.inicio-container {
  gap: 2.5rem;
  display: flex;
  flex-direction: column;
}

.inicio-message-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  background: var(--color-primario);
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.2rem 1.5rem;
}

.inicio-message-icon {
  width: 100px;
  overflow: hidden;
  object-fit: cover;
}

.inicio-message-span {
  text-align: center;
  font-size: var(--fuente-size-h3);
  font-weight: var(--fuente-peso-bold);
}

.inicio-content {
  grid-template-columns: 0.1fr 1fr 1fr;
  grid-template-rows: 1fr 0.2fr;
  align-items: center;
  justify-items: center;
  gap: 0;
}

.inicio-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.inicio-social-icon {
  font-size: 2rem;
  color: var(--color-primario);
}

.inicio-social-icon:hover {
  color: var(--color-primario-claro);
}

.inicio-titulo {
  color: var(--color-primario);
}

.inicio-content > div:nth-child(1) {
  grid-column: span 1;
}
.inicio-content > div:nth-child(2) {
  grid-column: span 2;
}
.inicio-content > div:nth-child(3) {
  grid-column: span 3;
  grid-row: span 1;
}

.inicio-image {
  width: 200px;
  height: 220px;
  object-fit: cover;
  border-radius: 100px 0 100px 4px;
  border-width: 3px;
  border-style: solid;
  border-color: var(--color-primario);
  display: inline-block;
  overflow: hidden;
}

.inicio-btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.inicio-btns-icon {
  font-size: 1.1rem;
  padding-right: 0.2rem;
}

.inicio-btns .btn:hover {
  background-color: var(--color-primario-claro);
}

.inicio-btns .btn:hover {
  color: var(--color-primario);
}

/* Seccion Perfil */
.perfil-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.perfil-titulo {
  text-shadow: 0 0 4px black;
}

.perfil-content i {
  font-size: 2rem;
}

.perfil-subtitulo {
  margin-bottom: 0;
}

.perfil-text {
  font-size: var(--fuente-size-h3);
}

.perfil-img {
  width: 240px;
  height: 250px;
  object-fit: cover;
  border-radius: 3.5rem 1px 3.5rem 1px;
  border-width: 0.2rem;
  border-style: solid;
  border-color: var(--color-primario);
  display: inline-block;
  overflow: hidden;
  margin: 1rem 0 1rem 0;
}

/* Habilidades */
.habilidades-titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.habilidades-titulo i {
  font-size: 2rem;
}

.habilidades-tabs {
  display: flex;
  justify-content: center;
  margin: 1.2rem 0 1.2rem 0;
}

.habilidades-btn {
  display: flex;
  flex-direction: column;
  font-size: var(--fuente-size-h2);
  font-weight: var(--fuente-peso-bold);
  cursor: pointer;
  align-items: center;
}
.habilidades-btn i {
  font-size: 3rem;
}

.habilidades-btn:hover {
  color: var(--color-primario);
}

.habilidades-secciones {
  margin: 1.5rem 0 2rem 0;
}

.habilidades-contenido {
  border-radius: 10px;
  background-color: var(--color-primario);
}

.habilidades-contenido:nth-child(2) {
  height: fit-content;
  padding: var(--m-1-5) 0 var(--m-1-5) 0;
}

.habilidades-contenedor-uno {
  grid-auto-rows: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  gap: 0;
  align-items: center;
  justify-items: center;
}

.habilidades-habilidad-uno {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.habilidades-habilidad-uno:hover i {
  color: var(--color-primario-claro);
  cursor: default;
}

.habilidades-habilidad-uno:hover .habilidades-titulo {
  color: var(--color-primario-claro);
  cursor: default;
}

.habilidades-habilidad-uno i {
  font-size: var(--fuente-size-h2);
  text-shadow: 0 0 4px black;
}

.habilidades-titulo {
  text-shadow: 0 0 4px black;
}

.habilidades-contenedor-dos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.habilidades-habilidad-dos-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 1rem;
  margin-bottom: var(--m-0-25);
  border-bottom: thin solid grey;
}

.habilidades-habilidad-dos-header i {
  text-shadow: 0 0 4px black;
  font-size: var(--fuente-size-h2);
  margin-top: 0.25rem;
}

.habilidades-habilidad-dos-data {
  margin-bottom: var(--m-0-25);
}

.habilidades-habilidad-dos-data i {
  text-shadow: 0 0 4px black;
  font-size: var(--fuente-size-h2);
}

.habilidades-flecha {
  transition: 0.4s;
}

.habilidades-barra,
.habilidades-porcentaje {
  height: 5px;
  border-radius: 0.25rem;
}

.habilidades-barra {
  background-color: var(--color-secundario);
}

.habilidades-porcentaje {
  display: block;
  background-color: var(--color-barra);
}

.habilidad-html {
  width: 55%;
}

.habilidad-css {
  width: 45%;
}

.habilidad-js {
  width: 40%;
}

.habilidad-python {
  width: 40%;
}

.habilidad-java {
  width: 35%;
}

.habilidad-js-be {
  width: 35%;
}

.habilidades-cerradas .habilidades-habilidad-dos-lista {
  height: 0;
  overflow: hidden;
}

.habilidades-abiertas .habilidades-habilidad-dos-lista {
  height: max-content;
  margin-top: 1rem;
}

.habilidades-abiertas .habilidades-flecha {
  transform: rotate(-180deg);
}

/* Data-content para que no muestre en caso de que no esta activo */
.habilidades [data-content] {
  display: none;
}

.habilidades-activo {
  display: flex;
}

.habilidades-activo[data-content] {
  display: block;
}

.habilidades-activo[data-target] {
  color: var(--color-primario);
}

.habilidades-mensaje {
  border-radius: 0.5rem;
  background: var(--color-primario);
  padding: 10px;
  display: flex;
  font-size: var(--fuente-size-normal);
  color: var(--color-texto);
  align-items: center;
  text-align: center;
  text-shadow: 0 0 4px black;
  justify-content: space-between;
  gap: 0.5rem;
}

.habilidades-mensaje i {
  font-size: 1.5rem;
  text-shadow: 0 0 4px black;
}

.habilidades-mensaje-container {
  display: inline-block;
  text-align: justify;
  vertical-align: middle;
}

.habilidades-span {
  font-size: var(--fuente-size-h2);
}

/* Seccion educación */
.educacion-container {
  display: flex;
  flex-direction: column;
}

.educacion-contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 10px;
  background-color: var(--color-primario);
  padding: 1rem;
}
.educacion-icon {
  width: 200px;
  height: 75px;
  overflow: hidden;
  object-fit: cover;
}

.educacion-titulos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.educacion-titulos i {
  font-size: 2rem;
}

.educacion-titulo {
  font-size: var(--fuente-size-grande);
  text-shadow: 0 0 4px black;
}

.educacion-subtitulo {
  font-size: var(--fuente-size-h3);
  color: var(--color-texto);
}

/* Contacto */
.contacto-titulo {
  text-shadow: 0 0 4px black;
  font-size: var(--fuente-size-grande);
}

.contacto-contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--fuente-size-grande);
  margin-bottom: 1rem;
}

.contenido-informacion-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  border-radius: 10px;
  background-color: var(--color-primario);
  padding: 1rem;
}

.contacto-informacion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacto-informacion {
  text-shadow: 0 0 4px black;
}

.contacto-informacion i {
  font-size: 2rem;
}

.contacto-informacion .contacto-informacion-titulo {
  font-size: var(--fuente-size-h1);
}

.contacto-informacion .contacto-informacion-subtitulo {
  font-size: var(--fuente-size-h2);
}

.contacto-hr {
  border: 1px solid;
  margin-left: 20px;
  margin-right: 20px;
}

/* Footer */
.footer-bg {
  background-color: var(--color-primario);
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.footer-titulo,
.footer-subtitulo {
  text-shadow: 0 0 4px black;
}

.footer-subtitulo {
  margin: 0;
}

.footer-titulo {
  font-weight: var(--fuente-peso-bold);
  font-size: var(--fuente-size-grande);
  margin-top: 1.5rem;
}

.footer-social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.footer-social i {
  font-size: 2rem;
  text-shadow: 0 0 4px black;
}

.footer-texto {
  text-align: center;
  margin-bottom: 0.75rem;
}

/* Media queries */
@media screen and (min-width: 768px) {
  .seccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2.5rem 0;
  }

  .seccion:nth-child(1) {
    padding: 3.5rem 0;
  }

  body {
    margin: 0;
  }

  .container {
    margin: 0;
    width: 100%;
  }

  .nav .container {
    width: 100%;
  }

  .header {
    top: 0;
    bottom: initial;
    border-bottom: 1px solid var(--color-primario);
  }

  .header,
  .main,
  .footer-container {
    padding: 0 1rem;
  }

  nav {
    height: calc(var(--header-altura)+1.5rem);
  }

  .nav-toggle,
  .nav-link i,
  .nav-menu i {
    display: none;
  }

  .nav-list {
    display: flex;
  }

  .inicio {
    margin: 0;
  }

  .inicio-container {
    width: 768px;
    gap: 0;
  }
  .inicio-content {
    grid-template-columns: 0.5fr 2fr 0.5fr;
    align-items: center;
    justify-items: center;
    gap: 0;
  }

  .inicio-content > div:nth-child(3) {
    grid-column: span 1;
  }

  .inicio-content > div:nth-child(2) {
    grid-column: span 1;
  }

  .inicio-content > div:nth-child(1) {
    grid-column: span 1;
    grid-row: span 0;
  }

  .seccion-hr {
    margin: auto;
    max-width: 768px;
  }
  .perfil-text {
    font-size: var(--fuente-size-h2);
    width: 75%;
    text-align: justify;
  }

  .perfil-subtitulo {
    font-size: 1.2rem;
  }
  .habilidades-contenido {
    margin: auto;
  }

  .habilidades-secciones {
    font-size: 1.2rem;
    margin: 1.5rem auto;
    max-width: 80%;
  }
  .habilidades-contenedor-uno {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-auto-rows: 6rem;
  }
  .habilidades-contenido-dos {
    width: 80%;
    margin: auto;
  }

  .habilidades-habilidad-dos-header {
    justify-content: space-between;
    margin: 0 1rem;
  }

  .habilidades-mensaje {
    font-size: 1.3rem;
  }

  .mensaje-mensaje-container {
    display: flex;
    flex-direction: column;
  }

  .habilidades-mensaje i:first-child {
    margin: 0 0 0 1.5rem;
  }

  .habilidades-mensaje i:last-child {
    margin: 0 1.5rem 0 0;
  }

  .educacion-contenido {
    width: 50%;
    margin: auto;
  }

  .contenido-informacion-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    background-color: var(--color-primario);
    padding: 1rem;
    width: 70%;
    margin: auto;
  }

  .contacto-hr {
    display: none;
  }

  .footer-container {
    margin: auto;
  }
}

@media screen and (min-width:987px) {
  .container {
    margin:auto;
  }
}